
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_GopiLayout.cshtml";
}
<div class="row" style="height:150px"></div>
<h2 class="container text-center bg-gradient">ContactUs</h2>

<div class="row" style="height:30px"></div>

<div class="container text-center">
    <div class="">
        Please contact us through a mail <a href="mailto:vemurigopi77@gmail.com" class="SiteAnchor-sm">vemurigopi77@gmail.com</a> for assistance.<br/>
        or<br/>
        Phone : 8374800083


    </div>
</div>
